################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/ref/SrtWordListExtractor.dll
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/refint/SrtWordListExtractor.dll
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.SrtWordListExtractor.props
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.SrtWordListExtractor.props
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/staticwebassets/msbuild.build.SrtWordListExtractor.props
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/staticwebassets.build.json
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.pdb
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.MvcApplicationPartsAssemblyInfo.cs
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.MvcApplicationPartsAssemblyInfo.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.GlobalUsings.g.cs
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.genruntimeconfig.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.GeneratedMSBuildEditorConfig.editorconfig
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.dll
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.FileListAbsolute.txt
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.CoreCompileInputs.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.CopyComplete
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.BuildWithSkipAnalyzers
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.AssemblyReference.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.assets.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.AssemblyInfoInputs.cache
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.AssemblyInfo.cs
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/apphost.exe
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SrtWordListExtractor/.vs/SrtWordListExtractor/v17/.suo
SrtWordListExtractor/SrtWordListExtractor/bin
SrtWordListExtractor/SrtWordListExtractor/obj
SrtWordListExtractor/SrtWordListExtractor/obj/Debug
SrtWordListExtractor/.vs/ProjectEvaluation
SrtWordListExtractor/.vs/SrtWordListExtractor/v17/.suo
/SrtWordListExtractor/.vs/SrtWordListExtractor/v17/.suo
/SrtWordListExtractor/.vs/SrtWordListExtractor/v17/.suo
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.GeneratedMSBuildEditorConfig.editorconfig
/SrtWordListExtractor/SrtWordListExtractor/obj/Debug/net7.0/SrtWordListExtractor.csproj.AssemblyReference.cache
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/9da8f173-d868-4e2b-94ca-2363f59a28cb.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/9689d85c-ed28-41f9-a380-67cf62f35304.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/841ffc6e-199b-40de-b51f-06bdb2934e96.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/7bc41cc9-0ed5-451a-9883-0aa619989e48.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/6954cfc1-5d29-4a9a-982c-43fb5b0ee135.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex/3a5346f5-861f-47b0-9526-eaee818adad6.vsidx
/SrtWordListExtractor/.vs/SrtWordListExtractor/v17/.futdcache.v2
/SrtWordListExtractor/.vs/SrtWordListExtractor/DesignTimeBuild/.dtbcache.v2
/SrtWordListExtractor/.vs/ProjectEvaluation/srtwordlistextractor.metadata.v6.1
/SrtWordListExtractor/.vs/ProjectEvaluation/srtwordlistextractor.projects.v6.1
/SrtWordListExtractor/SWE.Service/obj/Debug/net7.0/ref
/SrtWordListExtractor/SWE.Service/obj
/SrtWordListExtractor/.vs/SrtWordListExtractor/FileContentIndex
/SrtWordListExtractor/SWE.Service/bin/Debug/net7.0
